/* style.css */
body { transition: background-color .25s, color .25s; }
.hero { padding: 100px 0; text-align:center; }
.card-img-top { object-fit: cover; height: 200px; }
.fixed-top + .container, .fixed-top + header, .fixed-top + section { padding-top: 70px; }
